/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Poppins';
}


.content-height {
    min-height: calc(100vh - 4rem);
}

.text-justify {
    text-align: justify;
}

.primary-color {
    color: #3b564d !important;
}

.secondary-color {
    color: #f5fffa !important;
}

.third-color {
    color: #1d2632 !important;
}
.bg-primary-color {
    background-color: #3b564d !important;
}

.bg-secondary-color {
    background-color: #f5fffa !important;
}

.bg-third-color {
    background-color: #b9c5b1 !important;
}

 .btn-hover:hover
 {
    background-color: white;
    color: black !important;
 }

 .img-fixed-height {
    height: 350px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.card-text-custom {
    display: block;
    max-height: 3em;
    line-height: 1.5;
    overflow: hidden;
}
.card-title-custom {
    display: block;
    max-height: 1.5em;
    line-height: 1.5;
    overflow: hidden;
}

.accordion {
    border-radius: 10px;
    overflow: hidden;
}

.accordion-item {
    border-radius: 10px;
}


.accordion-button {
    border-radius: 10px 10px 0 0;
}


.accordion-collapse {
    border-radius: 0 0 10px 10px;
}


@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-left {
    animation: slideInLeft 1s ease-out forwards;
}

.slide-in-right {
    animation: slideInRight 1s ease-out forwards;
}


